{% extends "layout.html" %}

{% block content %}


<div class="row">

    <div class="col s12 m12 l6">
        <div class="intro">
            <h1 class="intro-heading">
                Welcome 3D Logic Game Lovers!
            </h1>
            <p class="body-text">
                You will learn 7 different nets of cube from this site, enjoy!
            </p>
            <a class="waves-effect waves-light btn blue">
                Get Started
            </a>
        </div>
    </div>
    <div class="col s12 m12 l6">
      <!-- Promo Content 2 goes here -->
      <div class="cube-container">
        <div class="cube">
          <div class="face front-cube"></div>
          <div class="face back-cube"></div>
          <div class="face right-cube"></div>
          <div class="face left-cube"></div>
          <div class="face top-cube"></div>
          <div class="face bottom-cube"></div>
        </div>
      </div>
    </div>

</div>
        

{% endblock %}