<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    
    <!-- Geogebra script -->
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
    <!-- <script src="GeoGebra/deployggb.js"></script> -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Solid-Net Transformation</title>
  </head>
  <body>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // M.AutoInit();
      document.addEventListener('DOMContentLoaded', function() {
          let elems = document.querySelectorAll('.sidenav');
          let instances = M.Sidenav.init(elems);
      });
    </script>
      

      
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Solid & Net</a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/learn">Learn Cube</a></li>
          <li><a href="/test">Test</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/learn">Learn Cube</a></li>
      <li><a href="/test">Test</a></li>
    </ul>

    <div class="container main">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




