{% extends "layout.html" %}

{% block content %}
<script>
    let visited = {{visited|tojson}};
    $(document).ready(() => {
        Object.keys(visited).forEach(key => {
            console.log(key);
            $(`#${key}`).append(`<i class="check-icon material-icons black-text">check</i>`);
        })
    });
</script>
<div class="row">

    <div class="col s12 m12 l6 center">
        <img src="{{ url_for('static', filename = 'test-images/learn.png') }}" alt="" width="300" height="300">        
    </div>
    
    <div class="col s12 m12 l6 learn-button center">
        <!-- Promo Content 2 goes here -->
        <div class="container">
            <div class="row">
                <div class="col s4 m4 l4">
                    <a href="/learn/0" id="0" class="relative waves-effect waves-light btn blue btn-large">
                        Net 1
                    </a>
                </div>
                <div class="col s4 m4 l4">
                    
                     <a href="/learn/1" id="1" class="relative waves-effect waves-light btn blue btn-large">
                        Net 2
                    </a>
                </div>
                <div class="col s4 m4 l4">
                    <a href="/learn/2" id="2" class="relative waves-effect waves-light btn blue btn-large">
                        Net 3
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s4 m4 l4">
                    <a href="/learn/3" id="3" class="relative waves-effect waves-light btn blue btn-large">
                        Net 4
                    </a>
                </div>
                <div class="col s4 m4 l4">
                    <a href="/learn/4" id="4" class="relative waves-effect waves-light btn blue btn-large">
                        Net 5
                    </a>
                </div>
                <div class="col s4 m4 l4">
                    <a href="/learn/5" id="5" class="relative waves-effect waves-light btn blue btn-large">
                        Net 6
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s4 m4 l4">
                    <a href="/learn/6" id="6" class="relative waves-effect waves-light btn blue btn-large">
                        Net 7
                    </a>
                </div>
                <div class="col s8 m8 l8">
                    <!--  <div class="grey-testbtn">--> 
                        <a href="/test" class="waves-effect waves-light btn grey btn-large test-btn" >
                        Test
                    </a>
                    <!-- </div>--> 
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                   <a href="/learn" id="reset" class="waves-effect waves-light btn grey btn-small btn-block" >
                       reset          
                 </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}