{% extends "layout.html" %}

{% block content %}

<script>
  let data = {{data|tojson}};
  console.log(data);
  $(document).ready(() => {
    $("h4").text(data["name"]);
    if (parseInt(data["id"]) === 1){
      // remove last-net button for first exercise
      $("#last-net").remove();
    }else{
      // add link to previous exercise
      $("#last-net").attr('href', `/learn/${parseInt(data["id"])-1}`);
    }
    // add link to next exercise
    $("#next-net").attr('href', `/learn/${parseInt(data["id"])+1}`);
    
  });
</script>
<h4 class="center"></h4>
<div class="row">
    <div class="col s12 m12 l12">
        <h6>Learning Data!</h6>
    </div>
</div>
<div class="row">
  <div class="col s2">
    <a href="/learn" class="waves-effect waves-light btn blue">
      Back
    </a>
  </div>
  <div class="col s2">
    <a href="" id="last-net" class="waves-effect waves-light btn blue">
      Last Net
    </a>
  </div>
  <div class="col s2">
    <a href="" id="next-net" class="waves-effect waves-light btn blue">
      Next Net
    </a>
  </div>
</div>
        

{% endblock %}