{% extends "layout.html" %}

{% block content %}

<script>
    // <iframe scrolling="no" src="https://www.geogebra.org/material/iframe/id/vkqxgp9e/width/800/height/400/border/999999/sfsb/true/szb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/false/rc/false/ld/false/sdz/false/ctl/false" width="800" height="600" allowfullscreen style="border: 1px solid #e4e4e4;border-radius: 4px;" frameborder="0"></iframe>
  let data = {{data|tojson}};
  console.log(data);
  $(document).ready(() => {
    $('#ggb-element').empty();
    $('#ggb-element').append(`<iframe scrolling="no" 
                                      alt="${data['name']}"+"_frame"
                                      src="https://www.geogebra.org/material/iframe/id/${data['material_id']}/width/800/height/400/border/999999/sfsb/true/szb/true/smb/false/stb/false/stbh/false/ai/false/asb/false/sri/false/rc/false/ld/false/sdz/false/ctl/false"
                                      width="800"
                                      height="400"
                                      allowfullscreen
                                      style="border: 1pxsolid #e4e4e4;border-radius: 4px;"
                                      frameborder="0">
                            `);
    $("h4").text(data["name"]);
    if (parseInt(data["id"]) == 0){
      // remove last-net button for first exercise
      $("#last-net").remove();
    }else if(data["last"]){
      // remove next-net button from last learning exercise
      $("#next-net").remove();
    }
    // add link to previous exercise
    $("#last-net").attr('href', `/learn/${parseInt(data["id"])-1}`);
    
    // add link to next exercise
    $("#next-net").attr('href', `/learn/${parseInt(data["id"])+1}`);

    // map corresponding images to learning exercises
    $("#learn-gif").attr('src', `/static/${data["transform_gif"]}`);
    $("#learn-img").attr('src', `/static/${data["net_image"]}`);
    $("#learn-img").attr('alt', `${data["name"]}`);
    $("#learn-title").text(`${data["name"]} exercise`);
    
  });
  </script>
<h4 class="center learn-title"></h4>
<br>
<div class="row">
    <div class="col s12 m12 l4">
          <img id="learn-img" src="" alt="" width="100%" height="auto">
    </div>
    <div class="col s12 m12 l8">
        <div id='ggb-element'></div>
    </div>
</div>

<div class="row">
  <div class="col">
    <a href="/learn" class="waves-effect waves-light btn blue">
      Back
    </a>
  </div>
  <div class="col">
    <a href="" id="last-net" class="waves-effect waves-light btn blue">
      Last Net
    </a>
  </div>
  <div class="col">
    <a href="" id="next-net" class="waves-effect waves-light btn blue">
      Next Net
    </a>
  </div>
</div>


{% endblock %}