{% extends "layout.html" %}

{% block content %}
<script>
    let data = {{data|tojson}};
    console.log(data);
    $(document).ready(() => {
        if(parseInt(data["score"]) > 50){
            $("#score-img").attr('src', `/static/test-images/good-score.png`);
            $("#score-text").text("You Passed!\n");
        }else{
            $("#score-img").attr('src', `/static/test-images/bad-score.png`);
            $("#score-text").text("You Failed!\n");
        }
        $("#score").append(`<span style="color: dimgrey">Your Score: <span style='color: #101010;font-weight:bold'>${data["score"]}%</span></span>`);
    });
</script>
<div class="container center">
    
    <div>
        <img id="score-img" src="" alt="" width="150px" height="auto">
    </div>
    <h4 id="score-text"></h4>
    <h4 id="score"></h4>
    <br>
    <br>
    <div class="row">
        <div class="col s2 m2 l2 offset-s5 offset-m5 offset-l5">
            <a href="/" class="waves-effect waves-light btn blue btn-large test-btn set-width">
                Home
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s2 m2 l2 offset-s5 offset-m5 offset-l5">
            <a href="/reset" id="reset" class="waves-effect waves-light btn red btn-large test-btn reset set-width">
                Reset
            </a>
        </div>
    </div>
</div>
{% endblock %}