{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{data|tojson}};
    console.log(data);
    $(document).ready(() => {
        // map corresponding text and image to the test question
        $("#question-text").text(data["question_text"]);
        $("#question-img").attr('src', `/static/${data["question_imgs"][0]}`);
        if (data["last"]){
            $("#next-test").text("Submit Test");
            // add link to next exercise
            $("#next-test").attr('href', `/test`);
        }else{
            // add link to next exercise
            $("#next-test").attr('href', `/test/${parseInt(data["id"])+1}`);
        }
    });
</script>
<h4 class="center"></h4>
<div class="row">
    <div class="col s12 m12 l6 center">
        <div class="container">
            <div class="row">
                <div class="col s12"><span id="question-text"></span></div>
            </div>
            <div class="row">
                <div class="col s12">
                    <img id="question-img" src="" alt="" width="500" height="500">
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 center">
        multiple choice filler
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="" id="next-test" class="waves-effect waves-light btn blue">
        Next Question
        </a>
    </div>
</div>

{% endblock %}