{% extends "layout.html" %}

{% block content %}

<script>
    let data = {{data|tojson}};
    console.log(data);
    $(document).ready(() => {
        // map corresponding text and image to the test question
        $("#question-text").text(data["question_text"]);
        $('#submit-mesg').hide();
        $("#question-img").attr('src', `/static/${data["question_imgs"][0]}`);
        if (data["last"]){
            $("#next-test").text("Get Score");
            // add link to next exercise
            $("#next-test").attr('href', `/test_finish`);
        }else{
            // add link to next exercise
            $("#next-test").attr('href', `/test/${parseInt(data["id"])+1}`);
        }
        // record score after submit and display correct answer
        $("#submit").click(function(e) {
            e.preventDefault();
            $('#submit-mesg').hide();
            let answers = [];
            if (data["radio"]){
                answers = [parseInt($('input[type="radio"]:checked').val())];
            }else{
                $.each($("input[name='group']:checked"), function(){
                    answers.push(parseInt($(this).val()));
                });
            }
            if (isNaN(answers[0])) {
                $('#submit-mesg').show();
                return;
            }
            $("#submit").addClass("disabled");
            let data_to_save = {index: data["id"], answers}
            console.log(data_to_save);
            $.ajax({
                type: "POST",
                url: `/submit_answer`,                
                dataType : "json",
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify(data_to_save),
                success: function(result){
                    console.log(result);
                    if (data["radio"]){
                        let ix = answers[0];
                        if (parseInt(result["correct"]) == 1){
                            $(`#${ix}`).text("Correct!");
                            $(`#${ix}`).addClass("green-text");
                        }else{
                            $(`#${ix}`).text("Wrong! Try again!");
                            $(`#${ix}`).addClass("red-text");
                            $(`#${result["correct_answer"][0]}`).text("Correct!");
                            $(`#${result["correct_answer"][0]}`).addClass("green-text");
                        }
                    }else{
                        if (parseInt(result["correct"]) == 1){
                            answers.forEach(ix =>{
                                $(`#${ix}`).text("Correct!");
                                $(`#${ix}`).addClass("green-text");
                            });
                        }else{
                            answers.forEach(ix =>{
                                $(`#${ix}`).text("Wrong! Try again!");
                                $(`#${ix}`).addClass("red-text");
                            });
                            result["correct_answer"].forEach(ix =>{
                                $(`#${ix}`).text("Correct!");
                                $(`#${ix}`).addClass("green-text");
                            });
                        }
                    }
                },
                error: function(request, status, error){
                    console.log("Error");
                    console.log(request)
                    console.log(status)
                    console.log(error)
                }
            });

        });
        // generate multiple choices
        if (data["radio"]){
            if(data["image_answer"]){
                data["answer_options"].forEach((option, ix) => {
                    $(`#options`).append(`
                    <p style="position: relative;">
                        <span id="${ix}" class="test-message"></span>
                        <label>
                            <input name="group" value="${ix}" type="radio" />
                            <span><img src="/static/${option}" alt="" width="210" height="140"></span>
                        </label>
                    </p>
                    `);
                });
            }else{
                data["answer_options"].forEach((option, ix) => {
                    $(`#options`).append(`
                    <p style="position: relative;">
                        <span id="${ix}" class="test-message"></span>
                        <label>
                            <input name="group" value="${ix}" type="radio" />
                            <span>${option}</span>
                        </label>
                    </p>
                    `);
                });
            }
        }else{
            if(data["image_answer"]){
                data["answer_options"].forEach((option, ix) => {
                    $(`#options`).append(`
                    <p style="position: relative;">
                        <span id="${ix}" class="test-message"></span>
                        <label>
                            <input name="group" value="${ix}" class="filled-in" type="checkbox" />
                            <span><img src="/static/${option}" alt="" width="210" height="140"></span>
                        </label>
                    </p>
                    `);
                });
            }else{
                data["answer_options"].forEach((option, ix) => {
                    $(`#options`).append(`
                    <p style="position: relative;">
                        <span id="${ix}" class="test-message"></span>
                        <label>
                            <input name="group" value="${ix}" class="filled-in" type="checkbox" />
                            <span>${option}</span>
                        </label>
                    </p>
                    `);
                });
            }
        }
    });
</script>
<h4 class="center"></h4>

<div class="row">
    <div class="col s12 m12 l6 center">
        <div class="container">
            <div class="row">
                <div class="col s12"><span id="question-text"></span></div>
            </div>
            <div class="imgfluid">
            <div class="row">
                <div class="col s12">
                    <img id="question-img" src="" alt="" width="510" height="340">
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l6 center">
        <div id="options"></div>
    </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <a href="" id="next-test" class="waves-effect waves-light btn blue">
        Next Question
        </a>
    </div>
    <div class="col">
        <div class="row">
            <a href="" id="submit" class="waves-effect waves-light btn blue">
            Submit
            </a>
        </div>
        <div class="row">
            <span id="submit-mesg" class="red-text">Selection needed!</span>
        </div>
    </div>
</div>

{% endblock %}