{% extends "layout.html" %}

{% block content %}
<script>
    let data = {{data|tojson}};
    console.log(data);
    $(document).ready(() => {
        $("#score").text(`Your Score: ${data["score"]}%`);
    });
</script>
<div class="container center">
    <h4 id="score"></h4>
    <br>
    <br>
    <div class="row">
    <div class="col s4 m4 l4">
        <a href="/learn" class="waves-effect waves-light btn grey btn-large test-btn">
            Home
        </a>
    </div>
    <div class="col s8 m8 l8">
        <a href="/reset" id="reset" class="waves-effect waves-light btn grey btn-large test-btn">
            Reset
        </a>
    </div>
</div>
</div>
{% endblock %}